@reference "tailwindcss";

.notFound {
  height: calc(100vh - 30rem);
  padding: 7%;
}

.courses {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 mt-6;
  width: 100%;
}

.course {
  border: 2px solid green;
  box-sizing: border-box;
  background: linear-gradient(333.7deg, #0ABA48 1.22%, #1C2820 32.91%, #000000 75.02%);
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*min-height: 350px;*/
  padding: 1rem;
}
.course .header {
  @apply flex items-center justify-between mb-4;
}
.course .header .code {
  color: #44F24D;
  font-size: 1.5rem;
  font-weight: 700;
}
.course .header .count {
  @apply text-sm text-gray-400 transition-colors duration-200;
}
.course .termData {
  @apply mb-6 last:mb-0;
}
.course .termData .term {
  @apply font-medium mb-3 transition-colors duration-200;
}
.course .termData .category {
  @apply text-sm font-medium text-gray-400 mb-2 transition-colors duration-200;
}
.course .termData .files {
  @apply flex flex-wrap gap-3;
}
.course .termData .files .file {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: #000;
  border: 1px solid #0ABA48;
  color: white;
  transition: all 0.3s ease;
  height: 2rem;
  width: 100%;
}
.course .termData .files .file:not([disabled]):hover {
  transform: scale(1.02);
  background-color: #0ABA48;
  cursor: pointer;
}
