@font-face {
  font-family: Ethnocentric;
  src: url('/src/assets/font/Ethnocentric.otf') format('opentype');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.StarContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
}

.Star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  filter: blur(2px);
  animation: moveStar 5s linear infinite;
}

@keyframes moveStar {
  0% {
    transform: translateZ(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateZ(1000px) scale(2);
    opacity: 0;
  }
}

.ComingSoon {
  font-family: Ethnocentric, sans-serif;
  font-size: 72px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  text-align: center;
  opacity: 0;
  transition: opacity 3s;
  transition-delay: 7.5s;
}
.ComingSoon.Animated {
  opacity: 1;
}

.QuickLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 3s;
  transition-delay: 7.5s;
  bottom: 5vh;
  display: flex;
  gap: 20px;
}
.QuickLinks.Animated {
  opacity: 1;
}

.AccessLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  transition: opacity 3s, top 3s, left 3s, width 3s, transform 3s;
  transition-delay: 3s;
}
.AccessLogo.Animated {
  top: 25px;
  left: 25px;
  transform: translate(0, 0);
  width: 80px;
}

.CsoLogo {
  position: absolute;
  top: 20px;
  left: 110px;
  width: 90px;
  height: auto;
  opacity: 0;
  transition: opacity 3s;
  transition-delay: 6s;
}
.CsoLogo.Animated {
  opacity: 1;
}
