.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.header::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5) 70%, transparent);
  /* https://developer.chrome.com/docs/css-ui/scroll-driven-animations */
  animation-name: headerGradient;
  animation-duration: auto;
  animation-timing-function: linear;
  animation-timeline: scroll();
}
@keyframes headerGradient {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.wordmark {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.wordmark {
  font-size: 2rem;
}
.wordmark img {
  width: 60px;
}

svg.filter {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  inset: 0;
}

.loadingBar {
  z-index: 2147483647;
  position: fixed;
  inset: 0;
  bottom: auto;
  height: 4px;
  background-color: #19e05f;
  display: none;
}
.loadingBar.animating {
  display: initial;
  animation: loadingBar 3s infinite;
}
@keyframes loadingBar {
  from { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 0; }
}

.navList {
  position: relative;
  /*outline: 1.5px solid rgba(255, 255, 255, 0.2);*/
  border-radius: 28px;
  /*box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);*/
  --lg-ease: 0.3s ease;
  --lg-bounce: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.08);
}
/* Version 1 */
.navList.lowQuality ul::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  border-radius: 28px;
  backdrop-filter: blur(4px) url(#glass-distortion);
}
/* Version 2 */
.navList:not(.lowQuality) ul {
  backdrop-filter: blur(4px) url(#lg-filter);
  box-shadow: 0 0 2px 1px light-dark( color-mix(in oklch, canvasText, #0000 85%), color-mix(in oklch, canvasText, #0000 65%)) inset, 0 0 10px 4px light-dark( color-mix(in oklch, canvasText, #0000 90%), color-mix(in oklch, canvasText, #0000 85%)) inset, 0px 4px 16px rgba(17, 17, 26, 0.05), 0px 8px 24px rgba(17, 17, 26, 0.05), 0px 16px 56px rgba(17, 17, 26, 0.05), 0px 4px 16px rgba(17, 17, 26, 0.05) inset, 0px 8px 24px rgba(17, 17, 26, 0.05) inset, 0px 16px 56px rgba(17, 17, 26, 0.05) inset;
}
.navList.animating ul {
  animation: navClick var(--lg-bounce);
}
@keyframes navClick {
  50% {
    background-color: rgba(63, 63, 63, 0.3);
    transform: scale(1.02);
  }
}

.navList i {
  --fa-display: none;
}
@media (width < 64rem) {
  .navList i {
    --fa-display: inline-block;
  }
  .navList .navMore {
    display: block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    position: relative;
    border-radius: 28px;
    cursor: pointer;
  }
  .navList .navMore::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 28px;
    box-shadow: inset 0 0 3px -1px white;
    background-color: rgba(63, 63, 63, 0.2);
  }
}

.navList ul {
  display: flex;
  padding: 6px;
  border-radius: 28px;
}
.navList ul::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 28px;
  box-shadow: inset 0 0 3px -1px white;
  background-color: rgba(63, 63, 63, 0.2);
}
@media (width < 64rem) {
  .navList ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 10rem;
    transition: transform var(--lg-bounce);
    transform: translate(50%, -50%) scale(0);
  }
  .navList ul.open {
    transform: translate(0, 0) scale(1);
  }
}

.navList ul li.active {
  color: #19e05f;
  transition: color var(--lg-ease);
}
.navList ul li a {
  display: block;
  padding: 10px 20px;
}

.navList .activeSlider {
  position: absolute;
  left: 0;
  height: calc(1.5rem + 20px);
  background-color: rgba(127, 127, 127, 0.4);
  border-radius: 28px;
  box-shadow: 0;
  transition: inset var(--lg-bounce), width var(--lg-ease);
  z-index: -1;
}
.navList .activeSlider.animating {
  animation: sliderClick var(--lg-bounce);
}
@keyframes sliderClick {
  50% {
    background-color: rgba(127, 127, 127, 0.05);
    box-shadow: inset 0 0 3px -1px white;
    transform: scaleX(1.3) scaleY(1.5);
  }
}

.footer {
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
}
.footerText img {
  width: 60px;
}
.footerLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footerLinks a {
  opacity: 0.5;
  transition: opacity 0.3s, color 0.3s;
}
.footerLinks a:hover {
  opacity: 1;
  color: #19e05f;
}
